<div class="table-container" ng-controller="ConsultaController">
    <div class="row-tens">
        <div class="input-group ">
            <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
            <input type="text" class="form-control" placeholder="Buscar" ng-model="search">
        </div>
        <div class="table-responsive scrollable">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Tipo</th>
                        <th>Nome</th>
                        <th>Quantidade</th>
                        <th>Preço</th>
                        <th>Negócio</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="deal in deals | filter:search" class="slide">
                        <td class="table-content"><input type="text" name="table-type" ng-blur="verifyChange(deal)" ng-model="deal.type"></td>
                        <td class="table-content"><input type="text" name="table-name" ng-blur="verifyChange(deal)" ng-model="deal.name"></td>
                        <td class="table-content"><input type="number" name="table-qtd" ng-blur="verifyChange(deal)" ng-model="deal.qtd"></td>
                        <td class="table-content"><input type="text" name="table-price" ng-blur="verifyChange(deal)" ng-model="deal.price"></td>
                        <td class="table-content" >
                            <select ng-model="deal.dealType" ng-blur="verifyChange(deal)">
                                <option value="COMPRA" ng-selected="deal.dealType=='COMPRA'" >COMPRA</option>
                                <option value="VENDA" ng-selected="deal.dealType=='VENDA'">VENDA</option>
                            </select>
                        <td class="button-group">
                            <a class="btn btn-danger" ng-click="delete(deal)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                            <a class="btn btn-success" ng-click="edit(deal)" ng-show="deal.edited"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div> <!-- Table Responsive -->

    </div>
</div>